<div class="section">
  <div class="container">

  </div>
</div>
<div class="section">
  <div class="footer">
    <div class="container white">
      <div class="col four left">
        <h1>Text text?</h1>

      </div>
      <div class="col four left">
        <h1>Text text?</h1>

      </div>
      <div class="col four left">
        <h1>Text text?</h1>


      </div>
      <div class="col four left">
        <h1>Text text text?</h1>


      </div>
      <div class="group"></div>
    </div>
  </div>
</div>
<script src="js/index.js"></script>
