<footer>Footer</footer>
<footer class="footer">
    <div class="container">
        <span class="text-muted">Start to play Blackjack@.</span>
        <div class="footer-img">
        </div>
    </div>
</footer>
