<div id="page">
<div class="header">
        <div class="blog-masthead">
        <div class="container">
        <nav class="nav blog-nav">
              <div class="logo-img">
              <a href="/">
							<img src="http://www.toolorbit.com/image/Black-Jack/Logo/Black-Jack-Logolg.jpg" alt="">
              </a>
							</div>
              <a class="nav-link-signin btn btn-secondary" href="/autorization">Sign in </a>
              <a class="nav-link-signup btn btn-success" href="/registration">Sign up</a>

			 </nav>
       </div>
       </div>

       <div class="blog-header">
       <div class="container">
       <nav class="nav blog-nav">
           <ul>
           <li><a class="nav-link active" id="nav-home" href="/">Home</a></li>
           <li><a class="nav-link active" id="nav-play" href="/game">Play Blackjack</a></li>
           <li><a class="nav-link active" id="nav-rules" href="/about">How to Play Blackjack</a></li>
           <li><a class="nav-link active" id="nav-profile" href="/profile">Profile</a></li>
           <li><a class="nav-link active" id="nav-profile" href="/users">Users Train</a></li>
           <ul>
       </nav>
       </div>
       </div>
</div>
