<div class="hold">
<div class="header">
  <div class="container">

    <div class="logo-img">
            <a href="/">
    <img src="http://www.toolorbit.com/image/Black-Jack/Logo/Black-Jack-Logolg.jpg"width="70%" height="70%" alt="">
            </a>
  </div>
    <ul class="nav">

      <li><a href="/">Home</a></li>
      <% if(auth) { %>
      <li><a href="/game">Game</a></li>
      <% } %>
      <li><a href="/about">How to play</a></li>
      <% if(auth) { %>
      <li><a href="/profile">Profile</a></li>
      <% } %>

      <% if(!auth){ %>
      <li><a href="login">Sign in</a></li>/
      <li><a href="/signup">Sign up</a></li>
      <% } %>
      <% if(auth){ %>
      <li><a href="/logout">Logout</a></li>



      <% } %>
    </ul>


  </div>
</div>
</div>
