<div class="section">

<div class="slider">
  <div class="container slidercontent">
    <h1 class="hero">MY LITTLE PROJECT</h1>
    <h2 class="hero">BlackJACK PROJ!!!</h2>
    <div class="call"><span>BLACKJACK PROJJJ</span></div>
  </div>
</div>

</div>
