<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
	<title>blackjack</title>
  <link rel="stylesheet" type="text/css" href="/style2.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Slab:300,400' rel='stylesheet' type='text/css'>
  <script src="/socket.io/socket.io.js"></script>
	<script>
	  var socket = io.connect('http://localhost:8080');
	</script>

  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="jqscript.js"></script>

</head>
<body>




  <% include partials/header %>


	<% if (page == "index") { %>
    <% include partials/sidebar %>
    <% include pages/index %>
    <% include partials/footer %>
  <% } %>


	 <% if (page == "game") { %>
	 <% include pages/game %>
   <% } %>

 <% if (page == "signup") { %>
   <% include pages/signup %>
 <% } %>

 <% if (page == "login") { %>
  <% include pages/login %>
 <% } %>

  <% if (page == "about") { %>
    <% include partials/sidebar %>
    <% include pages/about %>
    <% include partials/footer %>
  <% } %>

	<% if (page == "profile") { %>

    <% include pages/profile %>
	<% } %>

	<% if (page == "404") { %>
    <% include partials/sidebar %>
    <% include pages/404 %>
	<% } %>

	<% if (page == "500") { %>
    <% include partials/sidebar %>
    <% include pages/500 %>
	<% } %>

</body>
</html>
