html,
body {
  margin: 0;
  padding: 0;

}

.section {
  width: 100%;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7;
}
/*
  Header
*/

.hold {
  height: 80px;
}

.header {
  line-height: 80px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}

.header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small > .container > #logo {
  height: 40px;
}

#logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}

ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.nav li {
  float: left;
  position: relative;

}
ul.nav li:hover {
   background: orange;
}

ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
}

ul.nav li:hover a {
  color: white;
}

ul.nav li a {
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
/*
  Slider

*/
.section .slider {
  background: url('http://white-karma.ru/uploads/images/masti%20kart.jpg') center no-repeat;
  background-size: 100%;

}

.section .footer {
  background: #333;
}

.slidercontent {
  text-align: center;
}

.hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}

h1.hero {
  font-size: 54px;
}

h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}

h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.call {
  color: white;
  display: block;
  margin-bottom: 20px;
}

.call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}

.call span:hover {
  background: orange;
  cursor: pointer;
}
/*
  Columns
*/

.col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}

.col.four {
  width: 23%;
  margin: 0 1%;
}

.col.three {
  width: 31.3%;
  margin: 0 1%;
}

.col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}

.col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}

.col .service,
.col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}

.col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.col .feature {
  font-size: 19px;
}

.col h1.side,
.col p.side,
.col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}

.col .icon {
  border-radius: 50%;
  border: 1px solid gray;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}

.col:hover > .icon {
  background: #F44336;
  color: white;
}

.col:hover > .icon.side {
  background: initial;
  color: initial;
}

.responsivegroup {
  display: none;
}
/*
  Column specifics
*/

.col p,
.col h1 {
  padding: 0 1%;
  text-align: center;
}

.group.margin {
  margin-bottom: 20px;
}

.col .imgholder-1 {
  height: 300px;
  width: 100%;
  background: url('http://selva070.me/wp-content/uploads/2015/02/nodejs-wallpaper-nsfw.jpg')center no-repeat;
  background-size: 120%;
  transition: background 0.3s linear;
}

.col .imgholder-2 {
  height: 300px;
  width: 100%;
  background: url('https://s-media-cache-ak0.pinimg.com/originals/3d/e3/8c/3de38c1ab9551c4468800f13ea604386.jpg')center no-repeat;
  background-size: 100%;
  transition: background 0.3s linear;
}
.col .imgholder-3 {
  height: 300px;
  width: 100%;
  background: url('https://iainhunter.files.wordpress.com/2016/01/logo-gray-1024x512-993867aa92.png')center no-repeat;
  background-size: 150%;
  transition: background 0.3s linear;
}
.col .imgholder-4 {
  height: 300px;
  width: 100%;
  background: url('http://guiasymanuales.es/imagenes/2014/01/jquery.jpg')center no-repeat;
  background-size: 170%;
  transition: background 0.3s linear;
}
.col .imgholder-5 {
  height: 300px;
  width: 100%;
  background: url('http://wedal.ru/images/stories/ARTICLES/templates/bootstrap/bootstrap.png')center no-repeat;
  background-size: 98%;
  transition: background 0.3s linear;
}
.col .imgholder-6 {
  height: 300px;
  width: 100%;
  background: url('http://clover.studio/wp-content/uploads/2016/07/socket-io-best-practices-1024x480.png')center no-repeat;
  background-size: 170%;
  transition: background 0.3s linear;
}
.col.bg {
  background: #FFF;
}

.col.pointer {
  cursor: pointer;
}



.col span.feature {
  font-size: 20px;
}
/*
  Text
*/

.container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}

.container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.left,
.left > h1,
.left > p {
  text-align: left;
}

.reset {
  text-align: left !important;
}

.reset:after {
  display: none !important;
}
/*
  Slider with Content
*/

.white h1,
.white h2,
.white p,
.white div,
.white a {
  color: #fff;
}
/*
  Responsive
*/

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media all and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .col.four {
    width: 48%;
    margin: 1%;
  }
  .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .header {
    height: auto;
    background: #eee;
  }
  #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  ul.nav li {
    float: initial;
    display: inline-block;
  }
  .responsivegroup {
    display: block;
  }
  .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media all and (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media all and (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media all and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media all and (max-width:450px) {
  .col, .col.four, .col.three, .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .group {
    display: none;
  }
}
.feature {
  font-family: 'Roboto Slab', sans-serif;
color: black;
font-weight: normal;
letter-spacing: 1px;

}
.container-logo-footer {
    background: #B5B0D6;

}


.img-container-top-2 {
  position: absolute;
  left: 74px;
  top: -6px;
}
.img-container-top-3 {
    position: absolute;
    left: 65px;
    top: -25px;
}
.img-container-top-4 {
     position: absolute;
     top: -25px;
     left: 55px;
}
#icon-1 {
  background: url('http://www.puremicrogaming.com/images/game/logo/145x136/6ab6c997-70fd-4809-b632-66045d98bb0e.png') center no-repeat;
  background-size: 135%;
}
#icon-2 {
  background: url('https://39mqrj484imb19gkbl4529ez-wpengine.netdna-ssl.com/wp-content/uploads/2016/10/Blackjack-Ballroom.png')center no-repeat;
  background-size: 130%;
}
#icon-3 {
  background: url('http://www.casinoadvisor.com/images/game_specific/big/gold_series_double_exposure_blackjack.gif')center no-repeat;
  background-size: 120%;
}
#icon-4 {
background: url('http://www.dev-plus-five.com/aqcontent/common/images/ext-microgaming/hilo13europeanblackjack.png')center no-repeat;
background-size: 130%;
}
#icon-5 {
  background: url('http://www.hometowndumpsterrental.com/files/sidebar_images/roofing-reviews.jpg') center no-repeat;
  background-size: 130%;
}
.logo-img {
    position: absolute;

}
.profile-avatar {
      position: relative;
      left: 470px;
      top: 10px;
}
#avatar-profile {
  width: 150px;
  height: 150px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

#form-profile {
   position: relative;
   left: 420px;
}


.signupblock {
    background: #fafafa;
    position: relative;
    top: 160px;
    width: 100%;
    height: 500px;
}
#signup-form {
   position: relative;
   left: 230px;
   top: 62px;
}
.signup-head {
  position: relative;
  left: 170px;
  letter-spacing: 4px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
}
#login-block{
  position: relative;
  left: 230px;
  top: 62px;
}
.login-head {
  position: relative;
  left: 170px;
  letter-spacing: 4px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
}
.profile-main-text {
  letter-spacing: 4px;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
}
.main-text-container {
font-weight: 300;
font-family: 'Roboto Slab', sans-serif;
letter-spacing: 2px;
font-size: 16px;

}
.service {
  font-size: 19px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  letter-spacing: 1px;

}
.card-1 {

position: absolute;



}

.blackjacktable {
    height: 1000px;
    background: #1d1d1d;
    background-size: 100%;
}
.line-profile {
    background: #49DECA;
    height: 1px;
}
#form-profile-top {
      margin-left: 390px;
     width: 30%;
}
.file-styles {
  margin-left: 360px;
}
#form-profile-facebook {
  margin-left: 390px;
 width: 30%;
}
#facebook-icon {
    margin-left: 120px;
}
#editProfiles {
  background: green;
  color: white;
}
.profile-avatar {
  width: 150px;
  height: 150px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #B8D9D4;
}
.table-main {
    position: absolute;
    left: 15%;
}
.button-bet {
    position: absolute;
    left: 55%;
    top: 65%;
}
