<div class="page-about">
<div id="first-image-about">
</div>
<div id="page-about">
<div class="container">
<h1 class="rules-h1">Правила Игры</h1>
</div>
<div class="container">
<div id="rules-page">
<p class="rulesp">Ошибочно считается, что цель заключается в том, чтобы набрать как можно больше очков, но не более 21. На самом деле — обыграть дилера (крупье). Играют от одной до восьми колод. Из-за того, что вероятность комбинации блек-джек при большем числе колод ниже, то преимущество игрока уменьшается при увеличении числа колод. При игре с шаффл машинкой считается, что используется бесконечная колода. По окончании партии, когда осталась примерно треть карт (точное значение устанавливает дилер, размещая специальную карточку в т. н. «шуз» на глаз), колоды перемешиваются. При игре одной колодой чаще всего перемешивается после каждой партии.

<p class="rulesp">Значения очков каждой карты: от двойки до десятки — соответственно от 2 до 10, у туза — 1 или 11 (11 пока общая сумма не больше 21, далее 1), у т. н. картинок (король, дама, валет) — 10.</p>

<p class="rulesp">Если у игрока и дилера число очков на руках равное, то такая ситуация называется «Ровно», часто в казино это называют «Стей» — от англ. stay, в английском языке это звучит как Push (Пуш). В такой ситуации все остаются при своих ставках, никто не выигрывает и не проигрывает. Хотя в различных казино могут быть исключения и при «пуше» выигрывает казино.</p>

<p class="rulesp">Игроки делают ставки, кладя фишки на соответствующие поля игрового стола. Ставки делаются до раздачи карт. После того, как первая карта сдана, игрокам запрещается делать ставки и прикасаться к своим фишкам.</p>

<p class="rulesp">Дилер раздаёт карты (обычно из одной или двух колод карт, но чаще из шуза, содержащего четыре и более колод): по две карты каждому игроку, себе раздаёт одну карту (в США принято раздавать дилеру две карты, одна из которых открыта, а другая — закрыта, то есть находится на столе рубашкой вверх). Все карты открываются сразу (видны и дилеру, и игроку).</p>

<p class="rulesp">Если у игрока сразу после раздачи набралось 21 очко (то есть у игрока туз и 10 или туз и картинка), то такая ситуация и называется блек-джек. В таком случае игроку сразу выплачивается выигрыш 3 к 2 (то есть в 1,5 раза превышающий его ставку). Исключение составляют случаи, когда дилеру первой картой (открытой) попадается 10, картинка или туз. В этом случае существует вероятность, что у дилера также будет блек-джек, поэтому игроку с блек-джеком предлагается либо взять выигрыш 1 к 1 (только если первая карта дилера — туз), либо дождаться окончания кона игры (и в случае, если у дилера не блек-джек, получить выигрыш 3 к 2).</p>

<p class="rulesp">Далее игрокам, у которых не блек-джек, предлагается на выбор либо взять ещё карту (в таком случае игрок должен сказать дилеру «карту» или «ещё», англ. «hit me»), либо остаться при тех картах (и той сумме очков), которые у него на руке (в этом случае игрок должен сказать дилеру «достаточно» или «хватит»).</p>



</div>
</div>
</div>
</div>
