<div id="sign-in">
<div class="container">
<div class="logo-cards">
<img src="https://cdn4.iconfinder.com/data/icons/casino-3/500/card-128.png" alt="">
 </div>
       <h2 class="form-signin-heading">Please sign in</h2>
			<form class="form-signin">

        <label for="inputname" class="sr-only">Username</label>
        <input type="name" id="autorizationname" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="autorization-pass" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
           <a href="/password_reset" class="label-link">Forgot password?</a>
				</div>
        <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
      </form>

      <div class="new_account">Don't have an account?
			<a href="/registration" class="create-link">Create right now!</a>
      </div>
		</div> <!-- /container -->
</div>
