

  <div class="blackjacktable">
  <div id="showTable">
  <img src="./images/img/truestol.gif"  class="table-main" width="65%" height="85%" alt="">
</div>

<!--  <div class="button-bet">
    <button type="button" class="btn btn-warning" id="make-bet">MAKE A BET</button>
  </div> -->
  <div class="button-hide">
    <button type="button" class="btn btn-success" id="createNewTable">Create TABLE</button>
  </div>





<div class="container">

<div class="show-cards">
<div class="row">

<div class="card-1">
<img src='./images/img/2krest.png'  width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest3">
<img src='./images/img/3krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest4">
<img src='./images/img/4krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest5">
<img src='./images/img/5krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest6">
<img src='./images/img/6krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest7">
<img src='./images/img/7krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest8">
<img src='./images/img/8krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest9">
<img src='./images/img/9krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krest10">
<img src='./images/img/10krest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krestvalet">
<img src='./images/img/valetkrest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krestdama">
<img src='./images/img/damakrest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="krestkorol">
<img src='./images/img/korolkrest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="kresttuz">
<img src='./images/img/tuzkrest.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna2">
<img src='./images/img/2bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna3">
<img src='./images/img/3bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna4">
<img src='./images/img/4bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna5">
<img src='./images/img/5bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna6">
<img src='./images/img/6bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna7">
<img src='./images/img/7bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna8">
<img src='./images/img/8bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna9">
<img src='./images/img/9bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybna10">
<img src='./images/img/10bybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybnavalet">
<img src='./images/img/valetbybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybnadama">
<img src='./images/img/damabybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybnakorol">
<img src='./images/img/korolbybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="bybnatuz">
<img src='./images/img/tuzbybna.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva2">
<img src='./images/img/2chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva3">
<img src='./images/img/3chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva4">
<img src='./images/img/4chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva5">
<img src='./images/img/5chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva6">
<img src='./images/img/6chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva7">
<img src='./images/img/7chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva8">
<img src='./images/img/8chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva9">
<img src='./images/img/9chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirva10">
<img src='./images/img/10chirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirvavalet">
<img src='./images/img/valetchirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirvadama">
<img src='./images/img/damachirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirvakorol">
<img src='./images/img/korolchirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="chirvatuz">
<img src='./images/img/tuzchirva.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika2">
<img src='./images/img/2pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika3">
<img src='./images/img/3pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika4">
<img src='./images/img/4pika.png'width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika5">
<img src='./images/img/5pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika6">
<img src='./images/img/6pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika7">
<img src='./images/img/7pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika8">
<img src='./images/img/8pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika9">
<img src='./images/img/9pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pika10">
<img src='./images/img/10pika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pikavalet">
<img src='./images/img/valetpika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pikadama">
<img src='./images/img/damapika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pikakorol">
<img src='./images/img/korolpika.png' width="50%" height="70%" alt="">
</div>

<div class="card-1" id="pikatuz">
<img src='./images/img/tuzpika.png' width="50%" height="70%" alt="">
</div>


</div>


</div>
</div>
</div>
