

  <div class="blackjacktable">


  <div class="player-1">

  </div>

  <div class="player-2">

  </div>

  <div class="player-3">

  </div>
  <div class="button-bet">
    <button type="button" class="btn btn-warning" id="make-bet">MAKE A BET</button>
  </div>
  <div class="button-hide">
    <button type="button" class="btn btn-danger" id="hide-cards">RESET CARDS</button>
  </div>
  </div>




<div class="container">

<div class="show-cards">
<div class="row">

<div class="card-1" id="krest2">

</div>

<div class="card-1" id="krest3">

</div>

<div class="card-1" id="krest4">

</div>

<div class="card-1" id="krest5">

</div>

<div class="card-1" id="krest6">

</div>

<div class="card-1" id="krest7">

</div>

<div class="card-1" id="krest8">

</div>

<div class="card-1" id="krest9">

</div>

<div class="card-1" id="krest10">

</div>

<div class="card-1" id="krestvalet">

</div>

<div class="card-1" id="krestdama">

</div>

<div class="card-1" id="krestkorol">

</div>

<div class="card-1" id="kresttuz">

</div>

<div class="card-1" id="bybna2">

</div>

<div class="card-1" id="bybna3">

</div>

<div class="card-1" id="bybna4">

</div>

<div class="card-1" id="bybna5">

</div>

<div class="card-1" id="bybna6">

</div>

<div class="card-1" id="bybna7">

</div>

<div class="card-1" id="bybna8">

</div>

<div class="card-1" id="bybna9">

</div>

<div class="card-1" id="bybna10">

</div>

<div class="card-1" id="bybnavalet">

</div>

<div class="card-1" id="bybnadama">

</div>

<div class="card-1" id="bybnakorol">

</div>

<div class="card-1" id="bybnatuz">

</div>

<div class="card-1" id="chirva2">

</div>

<div class="card-1" id="chirva3">

</div>

<div class="card-1" id="chirva4">

</div>

<div class="card-1" id="chirva5">

</div>

<div class="card-1" id="chirva6">

</div>

<div class="card-1" id="chirva7">

</div>

<div class="card-1" id="chirva8">

</div>

<div class="card-1" id="chirva9">

</div>

<div class="card-1" id="chirva10">

</div>

<div class="card-1" id="chirvavalet">

</div>

<div class="card-1" id="chirvadama">

</div>

<div class="card-1" id="chirvakorol">

</div>

<div class="card-1" id="chirvatuz">

</div>

<div class="card-1" id="pika2">

</div>

<div class="card-1" id="pika3">

</div>

<div class="card-1" id="pika4">

</div>

<div class="card-1" id="pika5">

</div>

<div class="card-1" id="pika6">

</div>

<div class="card-1" id="pika7">

</div>

<div class="card-1" id="pika8">

</div>

<div class="card-1" id="pika9">

</div>

<div class="card-1" id="pika10">

</div>

<div class="card-1" id="pikavalet">

</div>

<div class="card-1" id="pikadama">

</div>

<div class="card-1" id="pikakorol">

</div>

<div class="card-1" id="pikatuz">

</div>


</div>


</div>
</div>
