<div class="section">
  <div class="container">
    <div class="col four">
      <h1 class="icon" id="icon-1"></h1>
      <h1 class="service">Atlantic City</h1>
      <p class="main-text-container"> This enjoyable variation of the classic blackjack game offers both single and multi-hand options at most casinos and both versions have the same rules and strategies for game play. Although on multi-hand versions you will definitely spend more!
Atlantic City Blackjack usually has one of the lower house edges at casinos
</p>
    </div>
    <div class="col four">
      <h1 class="icon" id="icon-2"></h1>
      <h1 class="service">Bonus Blackjack</h1>
      <p class="main-text-container">This Blackjack game is the same as European Blackjack, but features an added bonus option which means that this game usually pays out a great deal more than the other games at a casino.

Blackjack is played with 2 decks of cards, according to original blackjack rules and if you bet on the "bonus" option on the table</p>
    </div>
    <div class="responsivegroup"></div>
    <div class="col four">
      <h1 class="icon" id="icon-3"></h1>
      <h1 class="service">Double Exposure </h1>
      <p class="main-text-container">Double Exposure Blackjack differs quite significantly from the classic versions of the game, being played with 8 decks of cards, with both of the dealer's cards being dealt facing upwards. You would think that this would give you the advantage, but rules have been put into place to ensure that this isn't the case...
Within the framework</p>
    </div>
    <div class="col four">
      <h1 class="icon" id="icon-4"></h1>
      <h1 class="service">European Blackjack</h1>
      <p class="main-text-container">European Blackjack is a variation of Classic Blackjack and is the same as the original game that you were probably taught. The rules are very straightforward, and the game is played with two standard decks of playing cards.

In this game, Blackjack always beats any other hand with a value of 21 and all face cards – Kings, Queens and Jacks of any designation
</p>
    </div>
    <div class="group"></div>
  </div>
</div>
<div class="section bg">
  <div class="container">
    <h1>TO Create this app i used:</h1>

    <div class="col three bg nopad pointer">
      <div class="imgholder-1"></div>
      <h1 class="feature">Node JS 4.9.6</h1>

    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder-2"></div>
      <h1 class="feature">Angular 2</h1>

    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder-3"></div>
      <h1 class="feature">Mongo DB</h1>

    </div>
    <div class="group margin"></div>
    <div class="col three bg nopad pointer">
      <div class="imgholder-4"></div>
      <h1 class="feature">Jquery</h1>

    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder-5"></div>
      <h1 class="feature">Bootstrap</h1>

    </div>
    <div class="col three bg nopad pointer">
      <div class="imgholder-6"></div>
      <h1 class="feature">Socket io</h1>

    </div>
    <div class="group"></div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="col two">
      <h1 class="icon" id="icon-5"></h1>
      <h1 class="service">?????</h1>

      <p>???????????????</p>
    </div>
    <div class="col two">
      <h1 class="icon"></h1>
      <h1 class="service">?????</h1>
      <p>???????????????</p>
    </div>
    <div class="group"></div>
  </div>
</div>
