<div id="sign-in">
<div class="container">
<div class="user-avatar">



 </div>
       <h2 class="form-signin-heading">Your profile</h2>
			 <form class="form-signin">
        <div class="changes" id="change-name">Change name</div>
        <label for="inputname" class="sr-only">Username</label>
        <input type="fname" name="fname" value="<%= user.fname %>" id="inputname" class="form-control">
        <div class="changes" id="change-surname">Change Surname</div>
        <label for="inputsurname" class="sr-only">surname</label>
        <input type="lname" value="<%= user.lname %>" id="inputsurname" class="form-control">
        <div class="changes" id="change-email">Change email</div>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email"  value="<%= user.email %>" id="inputEmail" class="form-control">
        <div class="changes" id="change-password">Change password</div>
        <label for="inputpassword" class="sr-only">password</label>
        <input type="passwd" value="<%= user.passwd %>" id="inputpassword" class="form-control">
        <label for="inputfile" class="sr-only">FIle</label>
        <input type="file" id="inputfile" class="form-control">
        <button class="btn btn-lg btn-success btn-block" type="submit">Save Changes</button>
      </form>
    </div> <!-- /container -->
</div>
