<div id="registration">
<div class="container">
<div class="logo-cards">
<img src="https://cdn4.iconfinder.com/data/icons/casino-3/500/card-128.png" alt="">
 </div>
       <h2 class="form-registration-heading-2">Registration</h2>
			<form class="form-registration-2" method="POST">

        <label for="inputusername" class="sr-only">Username</label>
        <input type="name" id="registration-name" class="form-control" placeholder="Username" required autofocus>

        <label for="inputsurname" class="sr-only">Surname</label>
        <input type="surname" id="registration-surname" class="form-control" placeholder="surname" required>

        <label for="inputemail" class="sr-only">email</label>
        <input type="email" id="registration-email" class="form-control" placeholder="email" required>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="registration-password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-success btn-block" type="submit">Create an account</button>

      </form>
  </div>
  </div> <!-- /container -->
